PORT=5000
MONGO_URI="mongodb://127.0.0.1:27017/test-db"
ACCESS_TOKEN_SECRET="helloworld"
REFRESH_TOKEN_SECRET="helloworld"
SERVER_BASE_URL="http://localhost:5000"
CLIENT_BASE_URL="http://localhost:3000"